<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>My IoT</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="./js/app.js"></script>

</head>




<body class="bg-white w-screen h-screen bg-green-700">

    <header class="bg-green-900 pb-3">
        <h1 class="text-center text-gray-200 font-bold text-2xl bg"> Only IoT </h1>
    </header>

    <!-- Slider main container -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- Projet Weed -->
            <div class="swiper-slide swiper-slide-h weed-slide">
                <div class="flex flex-row justify-center bg-green-900 xl:py-3 py-1">
                    <h1 class="text-center text-white font-semibold" id="weedTemp">Projet Weed</h1>
                </div>
                <div class="flex flex-row justify-around mt-3">
                    <div class="ml-3">
                        <img src="../images/hot.png" class="icon-weed">
                        <p class="text-white font-semibold weed-data xl:ml-2">
                            <%= vegetables[vegetables.length - 1].temperature%> °C
                        </p>
                    </div>
                    <div class="mr-3">
                        <img src="../images/sun.png" class="icon-weed">
                        <p class="text-right text-white font-semibold weed-data xl:mr-2">
                            <%= vegetables[vegetables.length - 1].visible %>
                        </p>
                    </div>
                </div>
                <div class="flex flex-row justify-around mt-3">
                    <div class="ml-3">
                        <img src="../images/humidity.png" class="icon-weed">
                        <p class="text-white font-semibold weed-data xl:ml-1">
                            <%= vegetables[vegetables.length - 1].humidity%> %
                        </p>
                    </div>
                    <div class="mr-3">
                        <img src="../images/uv.png" class="icon-weed">
                        <p class="text-right text-white font-semibold weed-data xl:mr-2">
                            <%= vegetables[vegetables.length - 1].uv%>
                        </p>
                    </div>
                    <div class="mr-3">
                        <img src="../images/infrared.png" class="icon-weed">
                        <p class="text-right text-white font-semibold weed-data xl:mr-2">
                            <%= vegetables[vegetables.length - 1].ir %>
                        </p>
                    </div>
                </div>
                <div class="flex justify-center mt-10 h-full">
                    <table class="weed-table table-auto border-collapse border border-green-800 ml-3 mr-3 bg-green-900 opacity-80">
                        <thead>
                            <tr>
                                <th class="border border-green-600 text-white font-semibold ">Date</th>
                                <th class="border border-green-600 text-white font-semibold ">Température</th>
                                <th class="border border-green-600 text-white font-semibold ">Luminosité</th>
                                <th class="border border-green-600 text-white font-semibold ">Humidité</th>
                                <th class="border border-green-600 text-white font-semibold ">UV</th>
                                <th class="border border-green-600 text-white font-semibold ">IR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=1; i<4; i++) {%>
                                <tr>
                                    <td class="border border-green-600 text-white text-center">
                                        <%= vegetables[i].timestamp %>
                                    </td>
                                    <td class="border border-green-600 text-white text-center">
                                        <%= vegetables[i].temperature %> °C</td>
                                    <td class="border border-green-600 text-white text-center">
                                        <%= vegetables[i].visible %>
                                    </td>
                                    <td class="border border-green-600 text-white text-center">
                                        <%= vegetables[i].humidity %>
                                    </td>
                                    <td class="border border-green-600 text-white text-center">
                                        <%= vegetables[i].uv %>
                                    </td>
                                    <td class="border border-green-600 text-white text-center">
                                        <%= vegetables[i].ir %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Air Quality -->
            <div class="swiper-slide swiper-slide-h airQuality-slide">
                <div class="flex flex-row justify-center bg-gray-400 xl:py-3 py-1">
                    <h1 class="text-center text-black font-semibold">Air Quality</h1>
                </div>
                <div class="flex flex-row justify-around mt-3">
                    <div class="ml-3">
                        <% if( airQuality[0].pollution < 100)  {%>
                            <img src="../images/air-purifier.png" class="icon-airQuality">                
                            <p class="text-white bg-gray-600 font-bold weed-data xl:ml-1 xl:mr-3">
                                L'air est respirable
                            </p>
                        <% } %>
                    </div>
                    <div class="mr-3">
                        <% if( airQuality[0].gas < 300)  
                            {%>
                                <img src="../images/sun.png" class="icon-airQuality">
                                <p class="text-white bg-gray-600 font-bold weed-data xl:ml-1 xl:mr-3">
                                    Pas trop de fumée
                                </p>
                            <%}
                        else
                            {%>
                                <img src="../images/sun.png" class="icon-airQuality">
                                <p class="font-bold weed-data xl:ml-1 mr-3">
                                   Trop de fumée
                                </p>
                            <%}
                         %>
                    </div>
                </div>
            </div>

            <!-- Alerte Covid -->
            <div class="swiper-slide swiper-slide-h covid-slide">
                <div class="swiper-container-v">
                    <div class="swiper-wrapper swiper-wrapper-v">
                        <% for(var i=0; i<5; i++) {%>
                            <div class="swiper-slide swiper-slide-v">
                                <div class="flex flex-row justify-center bg-blue-400 xl:py-3 py-1">
                                    <h1 class="text-center text-black font-semibold">Alerte Covid</h1>
                                </div>
                                <p class="text-black font-semibold ml-3 mt-3">
                                    Température :
                                    <span id="covidAlertTemp<%= i %>">
                                        <%= covidAlert[i].temperature %>
                                    </span>
                                </p>
                                <!-- Affichage photo -->
                                <div class="flex flex-row justify-center w-3/4 mt-5 ml-auto mr-auto covid-photo">
                                    <img id="covidAlertImage<%= i %>" src="data:image/jpg;base64,<%=covidAlert[i].image%>" class="object-fill w-full">
                                </div>
                                <p class="text-black font-semibold ml-3 mt-3">
                                    Dernière visite le :
                                    <span id="covidAlertTimestamp<%= i %>">
                                        <%= covidAlert[i].timestamp %>
                                    </span>

                                </p>

                            </div>
                            <% } %>
                    </div>
                    <div class="swiper-pagination swiper-pagination-v"></div>
                </div>
            </div>

             <!-- Alerte Covid -->
             <div class="swiper-slide swiper-slide-h bg-white">
                <div class="swiper-container-v">
                    <div class="swiper-wrapper swiper-wrapper-v flex">
                        <button id="button3" class="bg-blue-200 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex-1">
                            Main haut
                        </button>
                        <button id="button2" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex-1">
                            Position moyenne
                        </button>
                        <button id="button1" class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex-1">
                            Main bas
                        </button>
                    </div>
                    <div class="swiper-pagination swiper-pagination-v"></div>
                </div>
            </div>
        </div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <!-- Footer -->
    <footer class="bg-green-900">
        <div class="flex flex-row mt-3 justify-evenly">
            <!-- <div class="col-start-2">
                <img src="../images/logo.png" class="logo">
            </div> -->
            <div class="flex flex-col">
                <h1 class="text-gray-200">
                    Contact
                </h1>
                <p class="text-gray-200 text-xs mt-3 mb-4">
                    Hugrocostaud & Vincenturion <br> 13 rue des Coquelicots <br> 06 07 48 24 78
                </p>
            </div>
            <div class="">
                <img src="../images/ilan.jpg" class="logo">
            </div>
        </div>
    </footer>
</body>

</html>